@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f6f7fb;
    font-size: 14px;
    font-family: "Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif","PingHei", "Lucida Grande", "Helvetica","Arial","Verdana";
}

ul, ol, li {
    list-style-image: none;
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: none;
}

.noAvatar {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    border-radius: 2px;
    background: #428bcb;
}

.placeholder .placeholder-content{
	margin-top: 25%;
	height:100%;
	position:relative
}

.placeholder .placeholder-content:before{
	content:"\f072";
	font:normal normal normal 14px/1 FontAwesome;
	font-size:10rem;
	color:#CECECE;
	text-shadow:0px -1px 1px rgba(0,0,0,0.5);
	position:absolute;
	top:35%;
	left:50%;
	margin-left:-40px
}

.placeholder .placeholder-content:after{
	content:"数据飞走了";
	color:#CECECE;
	position:absolute;
	top:35%;
	left:50%;
	margin-left:-35px;
	margin-top:100px
}

#message-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: -webkit-box; 
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

#message-content .message-menu{
    width: 220px;
    padding: 10px;
    background: #ffffff;
    border-right: solid 1px #cccccc;
}

#message-content .message-menu .list{
    margin-top: 1px;
}

#message-content .message-menu .list .msg-menu-title{
    padding: 10px 0px;
    margin-bottom: 10px;
    border-bottom: solid 1px #cccccc;
}

#message-content .message-menu .list .msg-menu-item a{
    display: block;
    padding: 8px 10px;
    margin-bottom: 3px;
    color: #333333;
}

#message-content .message-menu .list .msg-menu-item a .badge {
    background-color: #d9534f;
}

#message-content .message-menu .list .msg-menu-item.active a,
#message-content .message-menu .list .msg-menu-item a:hover{
    color: #ffffff;
    background: #aeb6cb;
    border-radius: 4px;
}

#message-content .message-menu .list .msg-menu-item.active a .badge,
#message-content .message-menu .list .msg-menu-item a:hover .badge{
    color: #aeb6cb;
    background-color: #fff;
}




.msg-main-panel{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#message-center-panel{
    padding: 0px 15px;
}

#msg-write-panel {
    border: 1px solid #ccc;
    border-top: none;
    background: #f9f9f9;
    margin-bottom: 15px;
}

#msg-write-panel .msg-write-info {
	padding: 10px 15px;
	background: #ffffff;
	border-bottom: 1px solid #ccc;
}

#msg-write-panel .msg-write-info .num{
    color: #808080;
    text-decoration: none;
}

#msg-write-panel .msg-write-info .num span{
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    font-family: Constantia, Georgia;
}

#msg-write-panel .msg-textarea {
    border-bottom: 1px solid #ccc;
    background: #ffffff;
    padding: 15px;
}

#msg-write-panel .msg-textarea textarea{
    width: 100%;
    height: 68px;
    border-style: none;
    border-width: 0px;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 18px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    resize: none;
}

#msg-write-panel .msg-setting {
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}

#msg-write-panel .msg-setting .msg-func {
    line-height: 20px;
    margin-bottom: 5px;
    position: relative;
}

#msg-write-panel .msg-setting .msg-func .msg-func-item {
	display: inline-block;
    height: 30px;
    vertical-align: bottom;
    cursor: pointer;
    color: #333;
    margin-right: 10px;
}

#msg-write-panel .msg-setting .msg-func .func-face{
    margin-right: 10px;
}

#msg-write-panel .msg-setting .msg-func .func-notice span{
    margin-right: 5px;

}

#msg-write-panel .msg-setting .msg-func .webuploader-pick{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #f9f9f9;
    padding: 0px;
    color: #333;
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
}

#msg-write-panel .msg-setting .msg-func .func-announcement-icon{
    color: #999;
    font-size: 16px;
}

#msg-write-panel .msg-setting .msg-func .func-announcement-icon span{
    font-size: 14px;
}

#msg-write-panel .msg-setting .msg-func .func-attachement-icon{
    color: #5CB85C;
    font-size: 18px;
    vertical-align: middle;
}
    


#msg-write-panel .msg-setting ul{
    list-style: none;
}

#msg-write-panel .msg-setting li{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    border: 1px solid #ccc;
}

#msg-write-panel .msg-setting .pic-item .icon-delete{
    background: #FF6F6F;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 100px;
    position: absolute;
    right: -5px;
    top: -5px;
}

#msg-write-panel .msg-setting .pic-item img {
    width: 48px;
    height: 48px;
}

#msg-write-panel .msg-setting .filetype-icon{
    color: #0d86df;
}

#msg-write-panel .msg-setting .file-item{
	display: inline-block;
    margin-right: 10px;
}

#msg-write-panel .msg-submit {
    padding: 10px 15px;
}

#msg-write-panel .msg-submit .dept .dept-title {
    display: inline-block;
}

#msg-write-panel .msg-submit .dept .dept-select-panel {
    display: inline-block;
    border: 1px solid #ddd;
    position: relative;
    background: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#msg-write-panel .msg-submit .dept .dept-input {
    max-height: 78px;
    padding-left: 0px;
    display: inline-block;
    padding: 5px;
}

#msg-write-panel .msg-submit .dept .dept-input input{
    vertical-align: middle;
    padding: 2px;
    height: 20px;
    border: none;
    line-height: 20px;
    color: #777;
}


#msg-write-panel .msg-submit .dept .icon-add-people{
    display: inline-block;
    width: 30px;
    color: #4A90E2;
    cursor: pointer;
    border-left: 1px solid #D8DADD;
    height: 32px;
    vertical-align: top;
    line-height: 32px;
}

#msg-content-panel .nav-tabs {
    border: none;
    background: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#msg-content-panel .nav-tabs>li {
    
}

#msg-content-panel .nav-tabs>li>a {
    margin-right: 0px;
    padding-top: 11px;
    border-radius: 0px;
}


#msg-content-panel .nav-tabs>li.active>a, 
#msg-content-panel .nav-tabs>li.active>a:focus, 
#msg-content-panel .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #aeb6cb;;
    border: 1px solid transparent;
    border-radius: 0px;
    margin-right: 0px;
}

#msg-content-panel .msg-content-item {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #ffffff;
    position: relative;
}

#msg-content-panel .msg-content-item .msg-btn-delete {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px 10px;
	cursor: pointer;
	color: #9E9E9E;
}

#msg-content-panel .msg-content-item .msg-btn-delete:hover {
	color: #333333;
}

#msg-content-panel .notice .notice-title {
    padding: 10px 35px 10px 15px;
    background: #f8f8f8;
}

#msg-content-panel .notice .notice-title .notice-sticky {
	background: #FF6F6F;
    font-size: 12px;
    padding: 1px 3px;
    border-radius: 3px;
    display: inline-block;
    color: #ffffff;
    margin-left: 5px;
    vertical-align: bottom;
}

#msg-content-panel .notice .notice-title .fa{
    color: #b8b8b8;
    font-size: 16px;
}

#msg-content-panel .notice .notice-con {
    padding: 10px 15px;
    border-bottom: 1px solid #eeeeee;
    color: #777777;
}

#msg-content-panel .notice .notice-info {
    padding: 10px 15px;
    color: #777777;
    font-size: 12px;
}

#msg-content-panel .notice .notice-info a{
    color: #000000;
}

#msg-content-panel .msg-con {
    padding: 10px 15px;
    border-bottom: 1px solid #eeeeee;
    color: #777777;
}

#msg-content-panel .msg-con .msg-info{
    margin-bottom: 10px;
}

#msg-content-panel .msg-con .msg-info .user-face{
    display: inline-block;
    margin-right: 5px;
}

#msg-content-panel .msg-con .msg-info .user-face .avatar{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}
    
#msg-content-panel .msg-con .msg-info .user-info{
    display: inline-block;
    vertical-align: top;
}

#msg-content-panel .msg-con .msg-txt {
	
}

#msg-content-panel .msg-con .msg-attachment-file {
	
}

#msg-content-panel .msg-con .msg-attachment-file .msg-attachment-file-item {
	display: inline-block;
    padding: 3px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;
    background: #F1F1F1;
}

#msg-content-panel .msg-con .msg-attachment-file .msg-attachment-file-item:hover {
	background: #0D86DF;
	color:#ffffff;
}

#msg-content-panel .msg-con .msg-attachment-file .msg-attachment-file-item:hover .fa{
	color:#ffffff;
}

#msg-content-panel .msg-con .msg-attachment-file .msg-attachment-file-item .fa{
	color:#0D86DF;
}

#msg-content-panel .msg-con .msg-attachment-pic {
	margin: 10px 0px;
}

#msg-content-panel .msg-con .msg-attachment-pic .msg-attachment-pic-item {
	display: inline-block;
	padding-bottom: 4px;
	cursor: pointer;
}

#msg-content-panel .msg-con .msg-attachment-pic img{
	height: 80px;
}

#msg-content-panel .msg-handle {
    padding: 10px 15px;
    color: #777777;
    font-size: 12px;
    cursor: pointer;
}

#msg-content-panel .msg-comment-panel {
    padding: 10px 15px;
    background: #fafbff;
    border-top: 1px solid #eeeeee;
}

#msg-content-panel .msg-comment-panel .msg-comment-textarea {
    border: 1px solid #3496dd;
    border-radius: 4px;
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

#msg-content-panel .msg-comment-panel .msg-comment-textarea textarea{
    width: 100%;
    height: 68px;
    border-style: none;
    border-width: 0px;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 18px;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    resize: none;
}

#msg-content-panel .msg-comment-panel .msg-comment-func {
    margin-bottom: 10px;
}

#msg-content-panel .msg-comment-panel .func-face {
    margin-right: 10px;
}

#msg-content-panel .msg-comment-panel .func-icon {
    color: #0d86df;
    font-size: 20px;
}

#msg-content-panel .msg-comment-panel .num {
    display: inline-block;
    color: #808080;
    text-decoration: none;
    margin-right: 10px;
}

#msg-content-panel .msg-comment-panel .num {
    display: inline-block;
    color: #808080;
    text-decoration: none;
    margin-right: 10px;
}

#msg-content-panel .msg-comment-panel .num span {
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    font-family: Constantia, Georgia;
}

#msg-content-panel .msg-comment-panel .msg-comment-list ul {
    list-style: none;
}

#msg-content-panel .msg-comment-panel .msg-comment-list ul .avatar{
    height: 24px;
    width: 24px;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li{
    font-size: 12px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    display: -webkit-box; 
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 24px;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li:last-child{
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li .comment-avatar{
    width: 24px;
    margin-right: 5px;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li .comment-sender{
}

#msg-content-panel .msg-comment-panel .msg-comment-list li .comment-content{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li .comment-edit{
    display: none;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li .comment-edit a{
    padding: 0px 5px;
}

#msg-content-panel .msg-comment-panel .msg-comment-list li .comment-time{
    color: #b0c2d8;
}

#remind-panel {
    background: #ffffff;
}

#remind-panel .remind-top{
    padding: 0px 15px;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

#remind-panel .remind-top .notice-select-type{
	margin-top: 30px;
	padding-left: 11px;
}

#remind-panel .remind-top .notice-select-type .dropdown-menu{
	margin-left: -10px;
	min-width: auto;
}

#remind-panel .remind-top .notice-select-type.open .dropdown-toggle {
	box-shadow: none;
}

#remind-panel .remind-top .remind-tabs {
	border: none;
	float: right;
    padding-top: 10px;
}

#remind-panel .remind-top .remind-tabs .remind-tabs-title {
	font-weight: bold;
	padding-left: 5px;
}

#remind-panel .remind-top .remind-tabs li {
	margin-right: 10px;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#remind-panel .remind-top .remind-tabs li.active {
    border-bottom: 2px solid #4C79E0;
}

#remind-panel .remind-top .remind-btns{
    padding: 10px 0px;
}

#remind-panel .remind-top .remind-icon{
    height: 34px;
    width: 34px;
    background: #4c79e0;
    border-radius: 100px;
    line-height: 34px;
    display: inline-block;
    vertical-align: text-top;
    margin: 10px 10px 10px 0px;
}

#remind-panel .remind-top .remind-icon .fa{
    color: #ffffff;
    font-size: 20px;
}

#remind-panel .remind-list-panel {
	
}

#remind-panel .remind-list-panel .remind-list-item{
	display: -webkit-box; 
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
}

#remind-panel .remind-list-panel .remind-list-item:hover{
	background: #F5F5F5;
}

#remind-panel .remind-list-panel .remind-list-item a{
	color: #969696;
}

#remind-panel .remind-list-panel .remind-list-item a.remind-item-delete:hover{
	color: #000000;
}

#remind-panel .remind-list-panel .remind-list-item a.remind-item-text:hover{

}

#remind-panel .remind-list-panel .remind-list-item .remind-list-icon{
	font-size: 20px;
    width: 30px;
    margin: 0px 10px;
    text-align: center;
    position: relative;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-icon .notice-icon{
	background: #93ce2b;
    color: #fff;
    padding: 4px 5px;
    border-radius: 4px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-icon .notice-circle{
	position: absolute;
    background: #FF2929;
    display: block;
    height: 10px;
    width: 10px;
    top: 2px;
    right: -5px;
    border-radius: 100px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-content{
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-content .notice_subject{
	color: #FF8100;
	margin-right: 5px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-content .notice_actor{
	color: #009dd2;
	margin-right: 5px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-content .notice_flowType{
	margin-right: 5px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-content .notice_flow{
	color: #0c87ef;
	margin-right: 5px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-content .notice_summary{
	color: #0c87ef;
	margin-right: 5px;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-edit{
	width: 60px;
	text-align: center;
}

#remind-panel .remind-list-panel .remind-list-item .remind-list-time{
	width: 120px;
	padding-right: 15px;
	text-align: right;
	color: #969696;
}

#remind-panel .remind-list{
    
}

#new-notice .modal-header {
    min-height: 16.43px;
    padding: 10px 15px;
    background: #f8f8f8;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
}

#new-notice .modal-content {
	width: auto;
}

#new-notice .modal-body {
	font-size: 14px;
	padding: 10px 40px;
}

#new-notice .modal-body .row {
	margin: 15px 0px;
	display: -webkit-box; 
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

#new-notice .modal-body .row .col-title{
	width: 100px;
	line-height: 34px;
}

#new-notice .modal-body .row .col-con{
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#new-notice .modal-body .notice-setting{
	line-height: 34px;
}

#new-notice .modal-body .notice-setting label{
	font-weight: normal;
}

#new-notice .modal-footer {
	text-align: left;
	padding: 15px 40px;
}

#notice-show-panel{
    background: #ffffff;
}

#notice-show-panel .notice-show-top {
    padding: 10px 25px;
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#notice-show-panel .notice-show-content {
	padding: 10px 25px;
	margin-top: 54px;
}

#notice-show-panel .notice-show-content .notice-info {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
}

#notice-show-panel .notice-show-content .notice-info .notice-title{
	font-size: 24px;
    padding: 10px 0px 10px 20px;
    position: relative;
}

#notice-show-panel .notice-show-content .notice-info .notice-title .fa {
    color: #b8b8b8;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 0px;
}

#notice-show-panel .notice-show-content .notice-info .notice-other{
	padding: 10px 0px;
	margin-bottom: 10px;
	display: -webkit-box; 
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

#notice-show-panel .notice-show-content .notice-info .notice-other span{
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #999999;
}

#notice-show-panel .notice-show-content .notice-content{
	
}

#facebox {
    position: absolute;
    z-index: 9999;
}

#facebox .facelist-content{
    width: 408px;
    left: 20px;
    top: 192px;
}

#facebox .facelist-close .facelist-ficon_close {
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 4px;
    font-size: 18px;
}

#facebox .facelist-arrow .facelist-arrow_bor {
    position: absolute;
    overflow: hidden;
    display: block;
}

#facebox .W_layer_arrow .W_arrow_bor_t {
    top: -14px;
    left: 10px;
}

#facebox .W_layer_arrow .W_arrow_bor {
    position: absolute;
    overflow: hidden;
    display: block;
}

#facebox .W_arrow_bor_t .S_line3 {
    border-color: transparent transparent #ccc transparent;
}

#facebox .S_line3, .W_layer .W_input, 
#facebox .send_weibo .input, 
#facebox .W_btn_b:hover {
    border-color: #cccccc;
}

#facebox .W_arrow_bor_t i, 
#facebox .W_arrow_bor_t em {
    _border-style: dashed dashed solid dashed;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

#facebox .W_arrow_bor i, 
#facebox .W_arrow_bor em {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}

#facebox .content{
	position: relative;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
}

#facebox .layer_faces {
    _position: relative;
    width: 381px;
    padding: 26px 10px 15px;
}

#facebox .layer_faces ul {
    padding: 1px 0 0 1px;
    _padding: 1px 0 0 2px;
}
#facebox .layer_faces .faces_list_hot {
    margin-bottom: -1px;
}

#facebox .layer_faces li {
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    height: 31px;
    width: 31px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 2px 0px;
    text-align: center;
}
#facebox li:hover {
    border: 1px solid #eb7350;
    background: #fff9ec;
    position: relative;
    z-index: 2;
}

#facebox .W_arrow_bor_t .S_bg2_br {
    border-color: transparent transparent #fff transparent;
}
#facebox .S_bg2_br {
    border-color: #fff;
}
#facebox .W_arrow_bor_t em {
    margin: 1px 0 0 -18px;
}
#facebox .W_arrow_bor_t i,
#facebox .W_arrow_bor_t em {
    _border-style: dashed dashed solid dashed;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}
#facebox .W_arrow_bor i, 
#facebox .W_arrow_bor em {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}
#facebox .S_bg2_br {
    color: #323233;
    border-color: #323233;
}

#comment-panel {
	padding: 15px;
	font-size: 12px;
}

#comment-panel .nav-tabs {
	background: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#comment-panel .nav-tabs>li {
    margin-bottom: 0px;
}


#comment-panel .nav-tabs>li>a {
    padding: 13px;
    border: none;
    margin-right: 0px;
}

#comment-panel .nav-tabs>li.active>a, 
#comment-panel .nav-tabs>li.active>a:focus, 
#comment-panel .nav-tabs>li.active>a:hover {
	background: #aeb6cb;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 13px;
}


#comment-panel .WB_feed .WB_cardwrap {
    margin-bottom: 15px;
}

#comment-panel .WB_feed_detail {
    padding: 10px 15px;
}

#comment-panel .WB_feed_detail .WB_screen {
	position: relative;
}

#comment-panel .WB_screen .screen_box {
    position: absolute;
    margin: 0px 0 0 -15px;
}

#at-panel {
	padding: 15px;
	font-size: 12px;
}

#at-panel .nav-tabs {
	background: #ffffff;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#at-panel .nav-tabs>li {
    margin-bottom: 0px;
}


#at-panel .nav-tabs>li>a {
    padding: 13px;
    border: none;
    margin-right: 0px;
}

#at-panel .nav-tabs>li.active>a, 
#at-panel .nav-tabs>li.active>a:focus, 
#at-panel .nav-tabs>li.active>a:hover {
	background: #aeb6cb;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 13px;
}


#at-panel .WB_feed .WB_cardwrap {
    margin-bottom: 15px;
}

#at-panel .WB_feed_detail {
    padding: 10px 15px;
}

#at-panel .WB_feed_detail .WB_screen {
	position: relative;
}

#at-panel .WB_screen .screen_box {
    position: absolute;
    margin: 0px 0 0 -15px;
}


.WB_feed_comment .WB_expand .WB_text {
    margin: 0;
}

.WB_frame_a, 
.WB_frame_a_fix, 
.WB_frame_b, 
.WB_frame_c, 
.WB_frame_d, 
.WB_main_l, 
.WB_main_c, 
.WB_main_r, 
.WB_main_cr, 
.WB_main_a, 
.WB_toptips {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    font-size: 12px;
}



.S_bg2, blockquote, .W_btn_b, .W_input, .SW_fun_bg {
    background-color: #fff;
}
.WB_cardwrap {
    margin: 0 0 10px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.WB_face .face img {
    width: 40px;
    height: 40px;
}

.W_face_radius {
    border-radius: 2px;
}

.WB_detail {
    margin-left: 50px;
}

.WB_feed_comment .WB_info {
    margin: 0 0 10px;
}

.W_fb {
    font-weight: 700;
}

.WB_feed_comment .WB_text {
    margin: 0 0 10px;
    padding: 0;
}

.WB_feed_comment .WB_expand {
    padding: 5px 16px;
}

.SW_fun .S_func1 {
    color: #333;
    text-decoration: none;
}

.S_txt2, .W_input, .W_btn_b_disable, .W_btn_b_disable:hover {
    color: #919191;
    text-decoration: none;
}

.S_bg1, .SW_fun_bg:hover, .SW_fun_bg_active {
    background-color: #f2f2f5;
}
.WB_expand {
    _position: relative;
    _zoom: 1;
    margin: 0 0 10px;
    padding: 10px 16px 13px;
}


.search-group {
	width: 180px;
	margin: 4px;
}

.modal {
    z-index: 6;
}

.modal-backdrop {
    z-index: 5;
}

.icon-file {
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.icon-file-doc,
.icon-file-docx {
	background: url(../img/filetype_icon.png) -46px -138px no-repeat;
}
.icon-file-xls,
.icon-file-xlsx {
	background: url(../img/filetype_icon.png) -322px 0px no-repeat;
}
.icon-file-pdf {
	background: url(../img/filetype_icon.png) -92px -92px no-repeat;
}
.icon-file-rar {
	background: url(../img/filetype_icon.png) -230px -92px no-repeat;
}
.icon-file-zip {
	background: url(../img/filetype_icon.png) -138px -138px no-repeat;
}
.icon-file-txt {
	background: url(../img/filetype_icon.png) -276px -92px no-repeat;
}
.icon-file-ppt,
.icon-file-pptx {
	background: url(../img/filetype_icon.png) -138px -92px no-repeat;
}
.icon-file-html,
.icon-file-htm {
	background: url(../img/filetype_icon.png) -230px 0px no-repeat;
}
.icon-file-mov {
	background: url(../img/filetype_icon.png) -414px -92px no-repeat;
}
.icon-file-gif,
.icon-file-png,
.icon-file-apng,
.icon-file-bmp,
.icon-file-jpeg,
.icon-file-jpg {
	background: url(../img/filetype_icon.png) -184px -138px no-repeat;
}
.icon-file-unknown {
	background: url(../img/filetype_icon.png) -184px -46px no-repeat;;
}
